/**Diseño de Body*/
body{
    background-image: url("Imagenes/Body_background.jpg");
}

/*CSS de textos*/
.titulo-instrucciones{
    color: white;
    margin: 3% 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.5;
    font-family:  Geneva, Verdana, sans-serif;
}

/*Aqui va el diseño del menu principal*/
.Menu_principal{
    width: auto;
    padding: 2% 2%;
    border-bottom: solid 2px white;
    border-style:double;
}

.Logo{
    vertical-align: middle;
    width: calc(20% - 20px);
    display: inline-block;
}
.logo-img{
    width: 100%;
}
.Menu{
    vertical-align: middle;
    width: calc(80% - 20px);
    display: inline-block;
    text-align: right;
}

.item{
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 30px;
    
}

.item a{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5%;
}
.item a:hover{
    color: rgb(253, 253, 253);
    text-decoration: none;
    background-color: rgb(19, 157, 248);
}


/*Aqui va el diseñño del footer---------------------------------------------------*/
.container-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100px; /* ajusta la altura de acuerdo a tu diseño */
    background-color: rgb(29, 56, 78);
    text-align: center;
}
.container-footer h1{
    color: white;
    line-height: 1.5;
    font-family:  Geneva, Verdana, sans-serif;
}

.img-logo-footer{
    width: 10%;
}