/**Diseño de Body*/
body{
    background-image: url("Imagenes/Body_background.jpg");
}

/*CSS de textos*/
.titulo-instrucciones{
    color: white;
    margin: 3% 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.5;
    font-family:  Geneva, Verdana, sans-serif;
}

/*Aqui va el diseño del menu principal*/
.Menu_principal{
    width: auto;
    padding: 2% 2%;
    border-bottom: solid 2px white;
    border-style:double;
}

.Logo{
    vertical-align: middle;
    width: calc(20% - 20px);
    display: inline-block;
}
.logo-img{
    width: 100%;
}
.Menu{
    vertical-align: middle;
    width: calc(80% - 20px);
    display: inline-block;
    text-align: right;
}

.item{
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 30px;
    
}

.item a{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5%;
}
.item a:hover{
    color: rgb(253, 253, 253);
    text-decoration: none;
    background-color: rgb(19, 157, 248);
}


/*Aqui va el diseño del footer---------------------------------------------------*/
.container-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100px; /* ajusta la altura de acuerdo a tu diseño */
    background-color: rgb(29, 56, 78);
    text-align: center;
}
.container-footer h1{
    color: white;
    line-height: 1.5;
    font-family:  Geneva, Verdana, sans-serif;
}

.img-logo-footer{
    width: 10%;
}
/*Cuerpo del encriptador*/
.container-encriptador-titulo{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 3% 0;
}
.container-encriptador-titulo div{
    margin: 0 20px;
}
.container-encriptador-titulo .titulo-instrucciones{
    justify-self: stretch;
    margin-right: 70px;
}

.logo-alura{
    width: 40px;
}
.main-encriptador{
    display: flex;
    width: 90%;
    padding: 3%;
}

.container-encriptador{
    display: flex;
    flex-direction: column;
    margin-right: 2%;
    width: 70%;
    height: 600px;
}
.form-encriptador{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.container-desencriptador{
    display: flex;
    flex-direction: column;
    padding: 5% 1%;
    margin-left: 2%;
    width: 100%;
    background-color: rgb(224, 255, 255);
    border: solid 2px rgb(0, 14, 15);
    border-radius: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: .9em;
    font-weight: 300;
}
.container-desencriptador div{
    margin:20px 0;
}

.container-desencriptador h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.35em;
    font-weight: bold;
}

.container-encriptador-cuerpo{
    display: flex;
    flex-direction: column;
}
/*Diseño del texbox para encriptar*/
#input-encriptador{
    width: 94%;
    margin-bottom: 25px;
    background-color: rgb(228, 245, 247);
    padding: 1.5% 1.5% 1.5% 1.5%;
    vertical-align: top;
    border: solid 2px rgb(0, 14, 15);
    border-radius: 20px;
    font-size: 2em;
    font-family:monospace
}

/*Diseño de los botones de encriptador*/
.botones-encriptador{
    width: 30%;
    height: 12%;
    background-color: rgb(11, 90, 155);
    margin-top: 5px;
    color: white;
    font-size: 1.2em;
    border: solid 2px rgb(28, 210, 255);
    border-radius: 10px;
    font-weight: bold;
}
.botones-encriptador:nth-of-type(2){
    width: 30%;
    height: 12%;
    background-color: rgb(19, 181, 221);
    margin-top: 5px;
    color: white;
    font-size: 1.2em;
    border: solid 2px rgb(28, 210, 255);
    border-radius: 10px;
    font-weight: bold;
}

.botones-encriptador:hover{
    background-color: rgb(11, 155, 47);
    margin-top: 5px;
    color: white;
    font-size: 1.3em;
    border: solid 2px rgb(28, 210, 255);
    border-radius: 10px;
    font-weight: bold;
}

/*Diseño del output de encriptador*/

.titulo-desencriptar{
    text-align: center;
    margin-bottom: 1.8rem;
}
.area-desencriptar{
    display: flex;
    width: 30%;
    flex-direction: column;
}
.container-desencriptador img{
    width: 100%;
}
.container-desencriptador textarea{
    width: 90%;
    font-family:monospace;
    font-size: 1.7em;
    background-color: rgb(224, 255, 255);
    border: none;

}
.container-desencriptador button{
    width: 40%;
    height: 150%;
    background-color: rgb(11, 90, 155);
    margin-top: 5px;
    color: white;
    font-size: 1.2em;
    border: solid 2px rgb(28, 210, 255);
    border-radius: 10px;
    font-weight: bold;
}
.container-desencriptador #textarea-output-1 {
    display: none;
  }
.container-desencriptador #button-copy-output{
    display: none;
}
.container-desencriptador button:hover{
    background-color: rgb(11, 155, 47);
    margin-top: 5px;
    color: white;
    font-size: 1.3em;
    border: solid 2px rgb(28, 210, 255);
    border-radius: 10px;
    font-weight: bold;
}
.container-desencriptador textarea:focus{
    outline: none;
    background-color:transparent;
    border:none;
}