body{
    background-image: url("Imagenes/Body_background.jpg");
}

main{
    width: 90%;
    margin: 0 auto;
}
.caja{
    width: auto;
    margin: 0 auto;
    text-align: center;
}

.feature{
    color: white;
    line-height: 1.5;
    font-family:  Geneva, Verdana, sans-serif;
    display: inline-block;
    width: 28%;
    margin: 4% 1%;
    border: solid 2px white;
}
.feature .feature-titulo{
    padding: 2% 0;
    background-color: rgb(255, 255, 255);
    color: rgb(1, 48, 110);
    font-weight: bold;
    font-size: 1em;
}

.feature .feature-texto{
    padding: 4% 4%;
    font-size: 0.9em;
    color:rgb(255, 255, 255);
    text-align: justify;
}