.Menu_principal{
    width: auto;
    padding: 2% 2%;
    border-bottom: solid 2px white;
    border-style:double;
}

.Logo{
    vertical-align: middle;
    width: calc(20% - 20px);
    display: inline-block;
}
.logo-img{
    width: 100%;
}
.Menu{
    vertical-align: middle;
    width: calc(80% - 20px);
    display: inline-block;
    text-align: right;
}

.item{
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 30px;
    
}

.item a{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5%;
}
.item a:hover{
    color: rgb(253, 253, 253);
    text-decoration: none;
    background-color: rgb(19, 157, 248);
}


